.table {
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;

  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;

  &__wrapper {
    width: 100%;
  }

  & th {
    text-align: left;
    background-color: var(--color-border);
  }

  & td {
    border-bottom: 0.05rem solid var(--color-border);
  }

  & td,
  th {
    padding: 0.3rem 0.5rem;
  }
}
