$border: 0.05rem solid var(--color-border);

.table {
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;

  &__wrapper {
    width: 100%;
  }

  & th {
    background-color: var(--color-border);
  }

  & td {
    border-bottom: $border;
  }

  & td,
  th {
    width: min-content;
    padding: 0.3rem 0.5rem;
  }

  & th:last-child {
    border-right: unset;
  }
}
