body {
  padding: 2rem;

  font-size: var(--base-text-size);
  font-weight: var(--base-text-weight);
  color: var(--color-text-light);

  background-color: var(--color-page-background);
}

*:focus-visible {
  outline: 1px solid var(--color-accent);
}
