@use "$mixins" as *;

.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &__button {
    cursor: pointer;
    border: 0;
    color: inherit;
    background: transparent;

    @include base-interactive;

    &::after {
      width: 10px;
      height: 10px;

      font-size: 1.5rem;
      font-weight: 900;
      color: inherit;
    }

    &:hover {
      text-decoration: underline;
    }

    &:disabled {
      pointer-events: none;
      filter: brightness(40%);
    }
  }

  &__button--prev::after {
    content: "<";
  }

  &__button--next::after {
    content: ">";
  }
}
