.header {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;

  padding: 0.7rem var(--layout-padding-x);

  background-color: #00000010;
  backdrop-filter: blur(1rem);

  &__heading-wrapper {
    position: relative;
  }

  &__watermark {
    position: absolute;
    top: 0;
    left: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    margin-left: 0.3rem;

    &-img {
      max-width: 5rem;
      object-fit: contain;
    }
  }
}
